<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h1>Glocation</h1>
    <p class="lead">
      <!--<google-plus-signin clientid="610538687599-a8dqgdo29a3gu6mdp5f8r1hs56tgp8p8.apps.googleusercontent.com">-->
      <ui-select ng-model="main.projectSelected" on-select="main.getGlobersByProjectId(main.projectSelected.projectId)">
        <ui-select-match>
          <span ng-bind="$select.selected.description"></span>
        </ui-select-match>
        <ui-select-choices repeat="project in (main.Projects | filter: $select.search) track by project.projectId">
          <span ng-bind="project.description"></span>
        </ui-select-choices>
      </ui-select>
    </p>

    <div ng-if="main.projectSelected.projectId">
      <ui-select ng-model="main.globerSelected" on-select="main.lala()">
        <ui-select-match>
          <span ng-bind="$select.selected.userName"></span>
        </ui-select-match>
        <ui-select-choices repeat="project in (main.Globers | filter: $select.search) track by project.globerId">
          <span ng-bind="project.userName"></span>
        </ui-select-choices>
      </ui-select>

    </div>
  </div>

  <div class="row">
    <map></map>
  </div>

</div>
